@import url(https://fonts.googleapis.com/css?family=ABeeZee:100);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
body{
    background-color: #545454de;
    background-image: url(../media/indexTop.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 975px;
}


/* ----------------NAVBAR------------------------ */
nav{
    background-color: hsla(0, 1%, 15%, 0.75);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    padding-bottom: 15px;
    padding-inline:0;
}
.navItem{
    font-family:'ABeeZee, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-size: 2.5em;
    text-align: center;
    width: 25%;
}
a{
    text-decoration:none;
}
.mainLogo{
    display: flex;
    width: 6.5vw;
}
.navbar{
    display:flex;
    justify-content: right;
}
.smallNav{
    width: 100%;
    display:flex;
}
.smallNav h1{
    width: 25%;
    display:flex;
    align-self: center;
    text-align: left;
    color:white;
    font-family: 'Inter, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 100;
    margin-left:2vw;
}
.smallNav button{
    width: 50%;
    display: flex;
    justify-content: right;
    align-self: center;
}
@media (min-width: 992px){
    .smallNav {
        display: none;
    }
    }
@media (max-width:992px){
        .mainLogo{
            display: none;
        }
    }
.navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
.collapsedLogo{
        display: flex;
        justify-content: left;
        width: 15%;
    }
.navbar-collapse{
        margin-top: 20px;
        text-align: center;
    }
/* ----------------END OF NAVBAR--------------- */




.tImg{
    margin-left: -10px;
    margin-right: -30px;
    width: 3em;
}
.greenLogo{
    width: 25%;
    margin-top: 710px;
    
}

.mainTxt{
    color: white;
    font-family:'ABeeZee, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 55px;
    margin-inline: 15vw;
}
.lowerImg{
    margin-bottom: 0;
    margin-top: 5vh;
    display:flex;
    justify-content: center;
}
.lowerTxt{
    font-family:'ABeeZee, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-top: -30px;
    font-size: x-large;
    text-align: center;
    white-space: pre-line;
    color:white;
}
.hoursImg{
    background-color: black;
    width: 100%;
    height: 100vh;
    padding-inline: 10vw;
}