@import url('/fonts/Montauk-Bold.otf');
@import url('/Fonts/Montauk-Italic.otf');
@import url('/Fonts/Montauk-Light.otf');
@import url('/Fonts/Montauk-Regular.otf');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@import url(https://fonts.googleapis.com/css?family=ABeeZee:100);


body{
    background-color: #545454;
    background-image: url('../Media/image\ 25.png');
    background-repeat: no-repeat;
    background-size: 100vw 975px;
}
/* ----------------NAVBAR------------------------ */
/* Span of navbar and color, also alignment */
nav{
    background-color: hsla(0, 1%, 15%, 0.75);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    padding-bottom: 15px;
    padding-inline:0;
}
/* All text inside the navbar */
.navItem{
    font-family:'ABeeZee, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-size: 2.5em;
    text-align: center;
    width: 25%;
}
/* Active links text decoration set to none for no lines underneath */
a{
    text-decoration:none;
}
/* Mainlogo of page size adjust */
.mainLogo{
    display: flex;
    width: 6.5vw;
}
/* navbar testing*/
/* .navbar{
    display:flex;
    justify-content: right;
} */
/* Setting available space for small navbar */
.smallNav{
    width: 100%;
    display:flex;
}
/* Adjusting small navbar h1 txt styling */
.smallNav h1{
    width: 25%;
    display:flex;
    align-self: center;
    text-align: left;
    color:white;
    font-family: 'Inter, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 100;
    margin-left:2vw;
}
/* Adjusting button for dropdown menu of small navbar */
.smallNav button{
    width: 50%;
    display: flex;
    justify-content: right;
    align-self: center;
}

    /* Small navbar is hidden until a certain size is reached */
    @media (min-width: 992px){
    .smallNav {
        display: none;
    }
    }
    @media (max-width:991px){
        .mainLogo{
            display: none;
    }
    }

    /* Switched toggler icon of small Navbar to white */
.navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    /* Smaller version of mainlogo set for small Navbar */
.collapsedLogo{
        display: flex;
        justify-content: left;
        width: 15%;
    }

    /* Adjusting lines shown in collapsed menu */
.navbar-collapse{
        margin-top: 20px;
        text-align: center;
    }
/* ----------------END OF NAVBAR--------------- */

.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 100;
    font-style: normal;

  }

.ourStoryImg{
    width: 100%;
    height: 60vh;
    margin-top: 750px;
  }

  .middleTxt{
    display: flex;
    align-items: center;
    color:white;
    height: 40vh;
    padding-block: 23vh;
    background-color: #1f1f1f;
  }

  .paragraph{
    padding-inline: 25%;
    text-align: left;
  }
  .paragraph h3{
    font-size:1.1vw;
  }

  .ownerImgs{
    width: 100%;
    height: 18vh;
    object-fit: none;
  }
  .outsideImg{
    width: 100%;
  }

  .Vimg{
    width: 6vw;
    margin-left: -50px;
    margin-right:-40px
  }
  .ownerImgs{
    height: 285px;
  }
  .ownerCol{
    display: flex;
    justify-content: center; 
    margin-block: 20px;
  }
  .row h4{
    color: white;
    text-align: center;
  }
  .ownerTxt {
    display:flex;
    align-self: center;
    flex-direction: column;
    color:white;
    font-size: 1.7vw;
    margin-inline:20px;
    text-align:left;
  }
  .ownerTxt p{
    font-size: 1.7vw;
    margin-block:0;
  }

  .jazzRow{
    display: flex;
    flex-direction: row;
  }
  .jazzPic{
    width: 50%;
    height: 500px;
  }
  .jazzInfo{
   width: 50%;
   margin-left: .5vw;
  }
  .jazzTitle{
    text-align: center;
    color: white;
    font-size: 3vw;
    background-color: #131313;
    margin-inline: 2vw;
    padding-block: 2vh;
  }
  .tImg{
    margin-right: -2vw;
    margin-left: -1vw;
  }
  .jazzTxt{
    margin-top: 3vh;
    color: white;
    font-size: 1.5vw ;
    text-align: left;
    margin-inline: 3vw;
  }

      /* Footer */
    
      footer{
        background-color: #272626;
    }
    .logos{
        width: 30px; 
        height: auto; 
        margin-right: 10px; 
    }
    .insta{
        width: 25px; 
        height: auto; 
        margin-right: 10px; 
    }
    .font{
        font-family: 'Abeezee', sans-serif;
    }

    /* End of Footer */